body {
    background-image: url(../img/stwor1.png);
    background-repeat:   no-repeat;
    background-color: #0d0d63 !important;
    background-position: top;
    color: white !important;
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: 300 !important;
    font-size: 27.1px !important;
}

@media (min-width: 1728px) {
    body {
        background-size:     contain;
    }
}

:root {
    --main-color: white;
}

.container-fluid {
    padding: 0px !important;
}

.content {
    max-width: 1366px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: -webkit-sticky !important;
    /* Safari */
    position: sticky !important;
    top: 0;
}

.menu-items {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32.52px;
    margin-top: 30px;
}

.deskly section{
    margin-bottom: 80px;
}

.deskly img {
    width: auto !important;
    max-width: 100%;
}

.deskly object {
    width: auto !important;
    max-width: 100%;
}

.deskly p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.healthy_me video {
    width: 100%;
    height: auto;
    max-width: 840px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.healthy_me object {
    margin-top: 30px;
    margin-bottom: 30px;
}

section {
    width: 100%;
    margin-bottom: 153px;
}

section h1 {
    font-family: 'fino-sans', sans-serif;
    font-size: 64.69px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 80px;
}

#home {
    color: var(--main-color);
    height: 90vh;
    display: flex;
    align-items: center;
}

.title {
    font-family: 'fino-sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 211.1px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: right;
    line-height: 80px;
}

#aboutme img {
    margin-left: auto;
    margin-right: auto;
}

.title span {
    font-size: 54.54px;
}

.works-row {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.work {
    margin: 15px;
    height: 245px;
    width: 245px;
    display: inline-block;
    background-repeat: no-repeat;
}

/* my works tiles */

.w0 {
    background-image: url(../img/works/other.png);
}

.w0:hover {
    background-image: url(../img/works/hover/other_hover.png);
}

.w1 {
    background-image: url(../img/works/ux.png);
}

.w1:hover {
    background-image: url(../img/works/hover/UX_UI_hover.png);
}

.w2 {
    background-image: url(../img/works/banners.png);
}

.w2:hover {
    background-image: url(../img/works/hover/banners_hover.png);
}

.w3 {
    background-image: url(../img/works/illustrations.png);
}

.w3:hover {
    background-image: url(../img/works/hover/Illustrations_hover.png);
}

.w4 {
    background-image: url(../img/works/logos.png);
}

.w4:hover {
    background-image: url(../img/works/hover/logos_hover.png);
}

.w5 {
    background-image: url(../img/works/cards.png);
}

.w5:hover {
    background-image: url(../img/works/hover/cards_hover.png);
}

.w6 {
    background-image: url(../img/works/flyers.png);
}

.w6:hover {
    background-image: url(../img/works/hover/flyers_hover.png);
}

.w7 {
    background-image: url(../img/works/paintings.png);
}

.w7:hover {
    background-image: url(../img/works/hover/paintings_hover.png);
}

/* ----------- */

/* UI/UX tiles */

.ux1 {
    background-image: url(../img/uiux/tiles/dribble.png);
}

.ux1:hover {
    background-image: url(../img/uiux/tiles/hover/dribble_hover.png);
}

.ux2 {
    background-image: url(../img/uiux/tiles/tasteme_redesign.png);
}

.ux2:hover {
    background-image: url(../img/uiux/tiles/hover/tasteme_redesign_hover.png);
}

.ux3 {
    background-image: url(../img/uiux/tiles/psinder.png);
}

.ux3:hover {
    background-image: url(../img/uiux/tiles/hover/psinder_hover.png);
}

.ux4 {
    background-image: url(../img/uiux/tiles/maynooth.png);
}

.ux4:hover {
    background-image: url(../img/uiux/tiles/hover/maynooth_hover.png);
}

.ux5 {
    background-image: url(../img/uiux/tiles/welcome.png);
}

.ux5:hover {
    background-image: url(../img/uiux/tiles/hover/welcome_hover.png);
}

.ux6 {
    background-image: url(../img/uiux/tiles/guild_app.png);
}

.ux6:hover {
    background-image: url(../img/uiux/tiles/hover/guild_app_hover.png);
}

.ux7 {
    background-image: url(../img/uiux/tiles/nda.png);
}

.ux7:hover {
    background-image: url(../img/uiux/tiles/hover/nda_hover.png);
}

.ux8 {
    background-image: url(../img/uiux/tiles/guild_website.png);
}

.ux8:hover {
    background-image: url(../img/uiux/tiles/hover/guild_website_hover.png);
}

.ux9 {
    background-image: url(../img/uiux/tiles/omani.png);
}

.ux9:hover {
    background-image: url(../img/uiux/tiles/hover/omani_hover.png);
}

.ux10 {
    background-image: url(../img/uiux/tiles/omantel.png);
}

.ux10:hover {
    background-image: url(../img/uiux/tiles/hover/omantel_hover.png);
}

.ux11 {
    background-image: url(../img/uiux/tiles/deskly.png);
}

.ux11:hover {
    background-image: url(../img/uiux/tiles/hover/deskly_hover.png);
}

.ux12 {
    background-image: url(../img/uiux/tiles/healthy_me.png);
}

.ux12:hover {
    background-image: url(../img/uiux/tiles/hover/healthy_me_hover.png);
}

/* ---------- */

.menu-item {
    text-transform: uppercase;
    color: var(--main-color);
    margin-left: 90px;
    margin-right: 90px;
}

.center {
    text-align: center;
}

.skills {
    margin-top: 150px !important;
}

.uiux {
    text-align: justify;
}

.uiux h3 {
    font-family: 'fino-sans', sans-serif;
    font-weight: 400;
    font-size: 30pt;
    margin-bottom: 35px;
    margin-top: 35px;
}

.uiux h4 {
    font-family: 'fino-sans', sans-serif;
    font-weight: 400;
    font-size: 24pt;
    margin-bottom: 35px;
    margin-top: 35px;
}

.uiux ul {
    list-style-image: url('../img/about_me/gwiazdeczka.png');
}
.uiux li {
    margin-top: 10px;
    margin-bottom: 10px;;
}
.tasteme img {
    margin: 15px;
}

.tasteme h3 {
    font-family: 'fino-sans', sans-serif;
    font-weight: 400;
    font-size: 30pt;
    margin-bottom: 35px;
    margin-top: 35px;
}

.uiux img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.skills h3 {
    font-family: 'fino-sans', sans-serif;
    font-weight: 400;
    font-size: 30pt;
    margin-bottom: 35px;
    margin-top: 35px;
}

.skills ul {
    list-style-image: url('../img/about_me/gwiazdeczka.png');
}

.guild img {
    width: 100%;
}

.guild {
    text-align: justify;
}

.dots {
    margin-right: 120px;
    float: right;
}

.aboutme {
    text-align: justify;
}

.testimonials {
    margin-bottom: 80px;
}

.testimonials h3 {
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.testimonials p {
    text-align: justify;
}

#contact {
    height: 200px;
    text-align: center;
}

.section {
    text-align: center;
}

.rejs {
    font-family: 'fino-sans', sans-serif;
    font-weight: 400;
    font-size: 30pt;
    text-align: center;
}

.section p {
    font-weight: 300;
    font-size: 18pt;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.dribbble img {
    width: 100%;
    margin-top: 100px;
}

.tasteme_rdsgn {
    margin-top: 100px;
}

.tasteme_rdsgn img {
    height: 80vh;
    width: auto;
    margin-bottom: 100px;
}

.psinder img {
    height: 80vh;
    width: auto;
    margin-bottom: 100px;
}

a:link {
    color: var(--main-color);
    text-decoration: none;
}

.uiux a:link {
    color: var(--main-color);
    text-decoration: underline;
}

a:visited {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
    text-decoration: none;
}

a:active {
    color: var(--main-color);
    text-decoration: none;
}

footer {
    background-color: #911356;
    height: 40px;
    font-size: 12pt;
    text-align: center;
    display: flex;
    align-items: center;
}

footer span {
    margin-left: auto;
    margin-right: auto;
}