body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
  }


html{
      height: 100%
}

.left-col {
    background: #020023;
    color: #ffffff;
    text-align: center;
}
h1 {
    font-size: 150px;
    margin: 0 0 0 0;
}
.right-col {
    background: #75e3dd
}
img {
    max-width: 100%;
}
footer {
    background-color: #0e726f;
    min-height: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
    .social-icon {
    height:60px;
    margin: 10px 20px;
}
.social-icon-container {
    text-align: center;
}
.navigation li {
    display: inline-block;
    margin: 0 15px;
}

.navigation {
    text-align: center;
    font-size: 22px
}
nav {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    font-family: 'Prata', serif;
    font-size: 22px
}
.navigation li a{
  color: #4dc2bd;
font-size: 22px;
text-decoration: none;
}
.top-container {
  width: 500px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5 {
    font-family: 'Prata', serif;
    font-weight: normal;
}
.left-col, .right-col {
    color: #ffffff;
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
h2 {
  font-size: 100px
}
h4 {
  font-size: 32px;
  background-color: #75e3dd;
  display: inline-block;
  margin: 0 0 0 0px;
  padding:4px;
  color: #16736e;
}
h3 {
  font-size: 50px;
  color: #0e726f;
}
.scroll {
  color: #003333;
  text-align: center;
}
.contact h2 {
  color: #0e726f;
}
.my-team h2 {
  color: #4dc2bd;
}
.my-team h3 {
  color: #0e726f;
  font-size: 50px;
  margin: 0 0 90px 0;
  line-height: 100%;
}
.my-team p {
  color: #444355;
font-size: 14px;
font-family: 'Inconsolata';
}
.works h2 {
  color: #4dc2bd;
}
.works a{
  letter-spacing: 3px;
  color: #2ce6dc;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.works {
  color: #0e726f
}
p {line-height: 145%}

.works-img {
position: relative;
width: 100%;
}
.works h4 {
  position: absolute;
  z-index: 1;
  top: -25px
}
.extragutters {
  padding: 0 60px;
}
.rightaligned {
  text-align: right;
}
.works h4.rightaligned {
  right: 0;
}
.img-margin {
  margin-bottom: 20px;
}
.col h3 {
  line-height: 1.2em;
}

.works p {
  color: #444355;
font-size: 14px;
font-family: 'Inconsolata';
}
